* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --black: #0d114f;
  --white: #fafafa;
  --red: #e83f5b;
  --blue: #3485ff;
  --blue-light: #e0ecff;
  --background: #fbfcff;
  --overlay: #040911;
  --icons-details: #a5b0c1;

  --gray-dark: #4d5e77;
  --gray-blue: #a1b2cd;
  --gray-light: #e5eaf1;
  --gray-check: #eaecf2;

  --blue-hover: #5699ff;
  --red-hover: #ea4b65;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: var(--background);
}

body,
input,
select,
textarea,
button {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: "Open Sans", sans-serif;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  height: -1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: (0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.content header {
  width: 30%;
}

.content header img {
  display: block;
  width: 16.7rem;
  margin: 3.5rem auto;
}

main .container {
  width: min(36.3rem, 100%);
  margin-top: -12rem;
}

input,
button,
.button {
  border: 0.2rem solid var(--gray-blue);
  height: 5rem;
  border-radius: 0.4rem;
}

button.red,
.button.red {
  background: var(--red);
  color: var(--white);
}

button.gray,
.button.gray {
  background: var(--gray-light);
  color: var(--gray-dark);
}

button,
.button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 0;
  background-color: var(--blue);
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover,
.button:hover {
  filter: brightness(1.2);
}

button > img,
.button > img {
  margin-right: 1rem;
  width: 2rem;
}

button.outlined,
.button.outlined {
  background-color: var(--white);
  color: var(--blue);
  border: 0.2rem solid var(--blue);
}

/* create balls */

.ball {
  background: var(--blue);
  position: fixed;
  width: 21.2rem;
  height: 21.2rem;
  clip-path: circle();
  opacity: 0.3;
}

.ball.top {
  width: 63.3rem;
  height: 63.3rem;
  top: -45rem;
  right: -35rem;
}

.ball.bottom {
  bottom: -15rem;
  right: 5.6rem;
}
